/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "primeicons/primeicons.css";
/* :root {
    color-scheme: light dark;
  } */
html, body { height: 100%; }

  @font-face {
    font-family: 'banner';
    font-family: 'banner';
    src: url("/fonts/banner-font.ttf") format('truetype');
  }

  @font-face {
    font-family: 'hanged';
    src: url("/fonts/hanged.ttf") format('truetype');
  }

  .banner-font {
    font-family: 'banner';
  }
  

